{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>

    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">
                        <div class="mb-4">

                            <h2 class="pt-2 tm-color-primary tm-post-title">{{Publication_Detail.name}}</h2>
                            <p class="tm-mb-40">Education</p>
                            <p class="tm-mb-40">{{Publication_Detail.date}}</p>

                            <img src="{{Publication_Detail.images.url }}" alt="Image" class="img-fluid">

                            <p>{{Publication_Detail.descriptions}}</p>
                            {% for item in Publication_Detail.Hashtag.all %}
                            <span class="d-block text-right tm-color-primary">Hashtags: {{item.title }}</span>  {% endfor %}

                        </div>

                        <!-- Comments -->
                        <div>
                            <h2 class="tm-color-primary tm-post-title">Comments</h2>

                            <hr class="tm-hr-primary tm-mb-45">
                             <div class="tm-comment-reply tm-mb-45">
                                <hr>{% for item in item2.comments.all %}
                                <div class="tm-comment">
                                    <figure class="tm-comment-figure">
                                        <figcaption class="tm-color-primary text-center">{{item.name}}</figcaption>
                                    </figure>
                                    <p>{{item.text}}</p>
                                </div>
                                <span class="d-block text-right tm-color-primary">{{item.created_at}}</span>
                            {% endfor %}
                            </div>



                             <form method="POST" action="create-comment/">
                                 {% csrf_token %}
                                <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                <div class="mb-4">

                                    <input class="form-control" name="name" type="text" placeholder="Your name">
                                </div>
                                <div class="mb-4">
                                    <textarea class="form-control" name="comment_text" rows="6" placeholder="Your comment text"></textarea>
                                </div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">

                        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>{{ Publication_Detail.Categorys.title }}
                        <ul class="tm-mb-75 pl-5 tm-category-list">
                            <li><a href="#" class="tm-color-primary">{{ item.title }}</a></li>
                            <li><a href="#" class="tm-color-primary">Innovations</a></li>
                            <li><a href="#" class="tm-color-primary">Personal</a></li>
                            <li><a href="#" class="tm-color-primary">Cooking</a></li>
                            <li><a href="#" class="tm-color-primary">Education</a></li>
                            <li><a href="#" class="tm-color-primary">Finance</a></li>
                        </ul>


                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
                        {% for item in Publication_list %}
                        <a href="{% url 'Publication_Detail_url' item.id %}" class="d-block tm-mb-40">
                            <figure>
                                <img src="{{item.images.url }}" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">{{item.name}}</figcaption>
                            </figure>
                        </a>
                            {% endfor %}


                    </div>                    
                </aside>
            </div>
            <footer class="row tm-row">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: Toktosun
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2024 For students of Toktosun
                </div>
            </footer>
        </main>
    </div>
    <script src="{static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/templatemo-script.js' %}"></script>
</body>
{% endblock %}